.input {
  appearance: none;
  height: 40px;
  width: 27%;
  padding: 0.5rem 0.75rem 0.5rem 1rem;
  background-color: white;
  color: black;
  border-radius: var(--border-radius-sm);
  border: none;
  box-shadow: var(--shadow-sm);

  background-image: url('icons/arrowDown.svg');
  background-repeat: no-repeat;
  background-position: 90% center;
}

.input:focus,
.input:hover {
  outline: none;
  border: none;
  box-shadow: var(--shadow-md);
}
