.inputSearch {
  height: 40px;
  width: 274px;
  padding: 0.5rem 1rem 0.5rem 2.75rem;
  border: none;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
}

.inputSearch::placeholder {
  color: lightgray;
}

.inputSearch:focus,
.inputSearch:hover {
  box-shadow: var(--shadow-md);
  border: none;
  outline: none;
}

.inputSearchContainer {
  position: relative;
}

.inputSearchContainer::after {
  content: url('/icons/search.svg');
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
