.userContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 73px;
  margin: 0.5rem 0;
  padding: 0.875rem 1.5rem;
  box-shadow: var(--shadow-sm);
  border-radius: var(--border-radius-sm);
}

.userContainerCard {
  flex-direction: column;
  align-items: flex-start;
  height: auto;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 54%;
}

.userInfoCard {
  width: 100%;
  margin-bottom: 1rem;
}

.name {
  margin: 0;
}

.userName {
  margin: 0;
  font-size: 0.875rem;
}

.trash {
  color: var(--btn-icon-error-color);
}

.restContainer,
.detailContainer,
.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.restContainer {
  width: 46%;
  justify-content: flex-end;
}

.detailContainer {
  width: 60%;
  justify-content: flex-start;
}

.buttonContainer {
  gap: 0;
}

.restCard {
  width: 100%;
  justify-content: space-between;
}
