.formFilterContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.formFilterUp,
.formFilterDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
