.inputContainer {
  width: 44%;
}

.input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputLabel {
  margin-left: 0.5rem;
  margin-bottom: 0.25rem;
  font: var(--font-small-bold);
}

.inputField {
  height: 2.5rem;
  padding: 1rem;
  padding-right: 2.5rem;
  width: 100%;
  border: 1px solid transparent;
  border-radius: var(--border-radius-sm);
  box-shadow: var(--shadow-sm);
  outline: none;
}

.inputField:focus {
  outline: none;
  box-shadow: var(--shadow-md);
}

.errorMessage {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
  font: var(--font-small-regular);
  color: var(--btn-icon-error-color);
}

.inputFieldError {
  border-color: var(--btn-icon-error-color);
}
